@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="container">

        <h1>@*Voice Controlled App*@</h1>

        @*<h3 class="no-browser-support">Sorry, Your Browser Doesn't Support the Web Speech API. Try Opening This Demo In Google Chrome.</h3>*@

        <div class="app">
            <label class="control-label">Say something...?</label>
            <div class="input-single form-control''">
                <textarea id="note-textarea" placeholder="Click on the 'Start' button to start voice recognition..." rows="6"></textarea>
            </div>
            <button id="start-record-btn" title="Start Recording" class="btn btn-success">Start Recognition</button>
            <button id="pause-record-btn" title="Pause Recording" class="btn btn-danger">Pause Recognition</button>
            <button id="save-note-btn" title="Save Note" class="btn-default">Save Note</button>
            <p id="recording-instructions"class="panel-info">Press the <strong>Start Recognition</strong> button and allow access.</p>

            <h3>Voice Clip</h3>
            <ul id="notes">
                <li>
                    <p class="no-notes">You don't have any notes.</p>
                </li>
            </ul>

        </div>

    </div>

</div>
<script src="~/Scripts/stt-js.js"></script>